appdirs==1.4.4
appnope==0.1.2
asgiref==3.3.1
backcall==0.2.0
certifi==2020.12.5
decorator==4.4.2
distlib==0.3.1
Django==3.1.5
filelock==3.0.12
ipython-genutils==0.2.0
jedi==0.18.0
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
pipenv==2020.11.15
prompt-toolkit==3.0.10
psycopg2-binary==2.8.6
ptyprocess==0.7.0
Pygments==2.7.4
pytz==2020.5
six==1.15.0
sqlparse==0.4.1
traitlets==5.0.5
virtualenv==20.3.1
virtualenv-clone==0.5.4
wcwidth==0.2.5
